body {
  font-family: 'Arial', sans-serif; // Change la police
  font-size: 20px !important;
  color: #423e3e87; // Change la couleur du texte
  line-height: 1.5; // Améliore l'espacement des lignes
}
